html {
    background-color: #868572;
    color: #0E090E;
}

body, input {
    font-family: 'Gloria Hallelujah', cursive;
}

body {
    font-size: 1em;
}

p {
    margin-bottom: 1em;
    line-height: 1.25em;
}

#container {
    width: 700px;
    margin: 1em auto;
}

h1 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
    border-bottom: solid 1px #0E090E;
    padding-bottom: 0.25em;
}

h2 {
    font-size: 1.5em;
    margin: 3em 0 0.25em 0;
}

h3 {
    font-size: 1.5em;
}

textarea, #encoder-results, #decoder-results {

    display: block;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width: 100%;
    overflow-y: scroll;
    word-break: break-all;
    border-top: solid 1px #0E090E;
    border-bottom: solid 1px #0E090E;
    border-left: none;
    border-right: none;
    padding: 0.5em;
    margin: 0.5em 0;
    color: white;
    position: relative;
}

textarea {
    height: 25vh;
    background-color: #C3282D;
}

#encoder-results, #decoder-results {
    height: 50vh;
    background-color: #BF5A22;
}

#encoder-text, #decoder-results {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#decoder-text, #encoder-results {
    font-family: 'Gloria Hallelujah', cursive;
}

input[type="submit"], .submit {
    font-family: inherit;
    display: block;
    margin: 0 auto;
    font-size: 1em;
    letter-spacing: 0.07em;
    font-weight: 700;
    color: white;
    background-color: #51BFA4;
    border: 1px solid #0E090E;
    border-left-width: 1em;
    border-right-width: 1em;

}

input[type="submit"]:hover, .submit:hover {
    background-color: #46967f;
    cursor: pointer;
}

footer {
    border-top: solid 1px #0E090E;
    padding-top: 1em;
    margin-top: 3em;
    text-align: center;
}

footer p {
    margin: 0.25em auto;
}

a {
    color: #C3282D;
}

a:hover {
    color: #BF5A22;
}

.left-of-image {
    float: left;
    width: 70%;
}

img {
    float: right;
    width: 30%;
}

#loading-words {
    background-color: #51BFA4;
    color: white;
    font-weight: 700;
    letter-spacing: 5px;
    padding: 0.5em;
    border-top: solid 1px #0E090E;
    position: fixed;
    bottom: 0;
    left: 50vw;
    width: 250px;
    margin-left: -125px;
}
.btn{
    color: #C3282D;
    text-decoration: underline;
    cursor: pointer;
}

.clear{
    color: #C3282D;
    text-decoration: underline;
    cursor: pointer;
}
#encoder-results:hover .btn, #decoder-results:hover .btn{
    opacity:1;
}
#encoded-p{
    height: 50vh;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: scroll;
}
#form_upload_file{
    width: 100%;
    text-align: center;
    margin: 50px auto;
}

#encode_file{
    margin: 20px auto;
}

ul {
    float: left;
    margin-left: 20%;
}

ul li span {
    display: inline-block;
    width: 2em;
}

@media(max-width: 700px) {
    #container {
        width: 95%;
    }

    #container * {
        max-width: 100%;
    }

    .left-of-image {
        float: none;
        width: 100%;
    }

    img {
        float: none;
        display: block;
        width: 40vw;
        margin: 2em auto 0;
    }

    #letter-scoring1 {
        margin-left: 10%;
    }

    input[type="submit"] {
        white-space: normal;
    }
}
